* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.body {
    margin: 40px;
    position: relative;
}

.top-left-corner {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    border-top: 4px solid #545353;
    border-left: 4px solid #545353;
}

.top-right-corner {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    border-top: 4px solid #545353;
    border-right: 4px solid #545353;
}

.bottom-left-corner {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 40px;
    height: 40px;
    border-bottom: 4px solid #545353;
    border-left: 4px solid #545353;
}

.bottom-right-corner {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-bottom: 4px solid #545353;
    border-right: 4px solid #545353;
}


/* Audio player */
main {
    margin-top: 80px;
}

section {
    margin: 24px;
}

.title-line-1 {
    margin-top: 40px;
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 80px;
    color: #545353;
    letter-spacing: 20px;
    text-align: center;
}

.title-line-2, .song-title {
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 32px;
    color: #545353;
    letter-spacing: 16px;
    text-align: center;
}

.song-title {
    font-family: Courier New;
    font-size: 20px;
    font-weight: 500;
    color: #545353;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
}

.slider-container {
    margin: 24px;
    border: 1px solid #979797;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider {
    position: relative;
    height: 4px;
    background-color:  #545353;
    border-radius: 8px;
}

.slider-current {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
}

.load-button {
    font-family: AndaleMono, sans-serif;
    font-size: 18px;
    color: #1F1D1D;
    letter-spacing: 2px;
    width: 200px;
    height: 64px;
    border: 1px solid #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 0 8%;
}

.control-button {
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1F1D1D;    
    height: 64px;
    width: 80px;
    background-color: white;
    border: 1px solid #979797;
}

.speed-controls {
    display: none;
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 24px;
    color: #1F1D1D;
    letter-spacing: 2px;
    border: 1px solid #979797;
    width: 420px;
    padding: 16px;
}

.speed-controls .speed {
    display: flex;
    justify-content: center;
    flex: 1;
}

.speed-value {
    border: 1px solid #979797;
    width: 48px;
    height: 28px;
    font-family: AvenirNext-Regular;
    font-size: 16px;
    text-align: center;
    margin-left: 8px;
}

.speed-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;
}

.speed-options .option {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    height: 16px;
    width: 48px;
    margin: 3px 20px;
    cursor: pointer;
}

.selected {
    background-color: #cdcdcd;
    font-weight: 700;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#play, #pause {
    padding-top: 5px;
}

.donation {
    font-family: AvenirNext-Regular, sans-serif;
    font-size: 16px;
    margin: 64px 0;
}

.donation-button {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.donation-call-to-action {
    font-family: "futura-pt", sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 0 40px;
}

@media(max-width: 680px) {
    .title-line-1 {
        font-size: 48px;    
        letter-spacing: 10px;    
    }
}
@media(max-width: 460px) {
    .top-left-corner {
        top: 16px;
        left: 16px;
    }

    .top-right-corner {
        top: 16px;
        right: 16px;
    }

    .title-line-1 {
        font-size: 28px;        
        letter-spacing: 16px;
    }

    .title-line-2 {
        font-size: 16px;        
        letter-spacing: 16px;
    }

    .control-button {
        width: 36px;
    }

    .load-button {
        width: 72px;
        text-align: center;
    }

    .donation {
        margin: 32px;
    }

    .donation-call-to-action {
        margin:  0;
        font-size: 16px;
    }

    .song-title {
        font-size: 16px;
    }
}